@import "./common/common";
@import "./common/bank";

section.login{
    width: 100%;
    padding:90px 20px 0;
    box-sizing: border-box;
    .fixed_button{
        padding:0;
        margin-top:40px;
    }
    p.otherA{
        line-height: 35px;
        font-size: 13px;
        color:@grey;
        text-align: right;
        a{
            color:@grey;
        }
    }
    p.logo{
        width:55px;
        height: 57px;
        background: url("@{images}/icon_share.png") top left no-repeat;
        margin:260px auto 0;
    }
}